body {
    background-color: lightgray;
    text-align: center;
}

svg {
    background-color: white;
    width: min(80vh,80vw);
    height: min(80vh,80vw);
}

/* .path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 20s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  } */